<md-content class="md-padding" layout="row" layout-align="center center">
  <md-card class="login-card">
    <md-card-content>
      <md-button
        ng-click="vm.authenticate('facebook')"
				class="social-button facebook">
				<span>Sign In with Facebook</span>
			</md-button>
			<md-button
        ng-click="vm.authenticate('twitter')"
				class="social-button twitter">
				<span>Sign In with Twitter</span>
			</md-button>
      <md-button
        ng-click="vm.authenticate('google')"
				class="social-button google">
				<span>Sign In with Google</span>
			</md-button>
      <div class="login-or">
        <span>
        or
        </span>
      </div>
      <h1>Use your email address to login</h1>
      <form method="post" ng-submit="vm.login()" name="loginForm">
        <md-input-container md-no-float class="md-block">
          <input type="email" ng-model="vm.user.email" placeholder="Email">
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="vm.user.password" placeholder="Password">
        </md-input-container>
        <md-button type="submit" ng-disabled="vm.loginForm.$invalid">Log in</md-button>
      </form>
    </md-card-content>
  </md-card>
</md-content>
