@import '../../styles/base/variables.css';

connect {
  width: 100%;
  height: 100vh;

  .bg-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    background-image: url("/images/bg-cover-alt.jpg");
    background-size: cover;
    background-position: center center;
    vertical-align: middle;
    &:before {
      background-color: rgba(0,0,0,0.3);
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .social-login {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    .container {
      lost-utility: clearfix;
    }
    .highlights {
      lost-column: 2/3;
    }
    .login-step {
      lost-column: 1/3;
      .social-button {
        display: block;
        width: 300px;
        height: 40px;
        margin: var(--md-pad) auto 0;
        border-radius: 300px;
      }
      h1 {
        font-size: calc(18/16)rem;
        text-align: center;
      }
      .login-or {
        text-align: center;
        text-transform: uppercase;
        min-width: 300px;
        margin: var(--md-pad) 0;
        position: relative;

        span {
          position: relative;
          top: 5px;
        }

        &:before,
        &:after {
          width: 40%;
          height: 1px;
          background: #ccc;
          content: '.';
          text-indent: -9999em;
          overflow: hidden;
          display: inline-block;
        }
      }
    }
  }
}
