<div class="bg-cover">
  <div class="social-login" layout="row" layout-align="center center">
    <div class="tagline">
      <h3>
        The <span>story</span> is in the <span>telling</span>
      </h3>
    </div>
    <div class="connect-flow" layout="column" layout-align="center center">
      <header>
        <img class="logo" src="/images/logos/logo-white.svg" alt="Logo">
      </header>
      <md-button class="connect-button" aria-label="Profile" ng-click="vm.connect()">
        <!-- <md-icon md-font-set="material-icons" aria-label="More">account_circle</md-icon> -->
        Click to connect
      </md-button>
    </div>
  </div>
</div>
