<div class="bg-cover animated fadeIn">
  <div class="social-login" layout="row" layout-align="center center">
    <div class="tagline">
      <h3 class="animated fadeInDown">
        The <span class="animated fadeInUp">story</span> is in the <span class="animated fadeInUp">telling</span>
      </h3>
    </div>
    <div class="connect-flow" layout="column" layout-align="center center">
      <header class="animated fadeInRight">
        <img class="logo" src="/images/logos/logo-white.svg" alt="Logo">
      </header>
      <md-button class="connect-button animated fadeInUp" aria-label="Profile" ng-click="vm.connect()">
        Click to connect
      </md-button>
    </div>
  </div>
</div>
