<md-toolbar class="toolbar">
  <div class="md-toolbar-tools">
    <md-button class="menu-button" hide-gt-md ng-click="vm.openLeftMenu()" aria-label="Show Menu items">
      <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
    </md-button>
		<div class="logo">
      <h1 class="brand-name middle paper-font-display2 app-name">tomorrow<span>pictures.tv</span></h1>
		</div>
    <!-- fill up the space between left and right area -->
		<span flex></span>

    <md-button aria-label="Connect" ui-sref="connect" ng-if="!vm.auth.isAuthenticated">
      <md-icon md-font-set="material-icons" aria-label="More">lock_outline</md-icon>
      Connect
    </md-button>
    <md-button aria-label="Profile" ng-if="vm.auth.isAuthenticated" ui-sref="profile">
      <md-icon md-font-set="material-icons" aria-label="More">account_circle</md-icon>
      Profile
    </md-button>
    <logout ng-if="vm.auth.isAuthenticated"></logout>
  </div>
</md-toolbar>
